<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!---<nlog autoReload="true" internalLogFile="c:\temp\nlog-internal.log">-->
	<targets>
		<target xsi:type="File" name="f" fileName="${basedir}/logs/$test.csv" concurrentWrites="true">
			<layout xsi:type="CsvLayout">
				<column name="日志时间" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}"/>
				<column name="日志内容" layout="${message}"/>
				<column name="日志" layout="${logger}"/>
				<column name="日志级别" layout="${level}"/>
				<column name="类名:方法名" layout="${callsite:className=true:methodName=true:includeNamespace=false:skipFrames=1}" />
			</layout>
			按天进行归档，只保留10天的文件，文件大小最大是30M，
			<maxArchiver Files ="10"/>
			<archiveAbove Size ="30"/>
			<archive Every ="Day"/>
		</target>

		<target xsi:type="File" name="fi" fileName="${basedir}/logs/${shortdate}.log"
			  layout="${longdate} ${uppercase:${level}} ${message}">
			<!--按天进行归档，只保留10天的文件，文件大小最大是30M，-->
			<maxArchiver Files ="10"/>
			<archiveAbove Size ="30"/>
			<archive Every ="Day"/>
		</target>
		<!--<target xsi:type="File" name="fi" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
			  maxArchiverFiles="5" archiveAboveSize="3" archiveEvery="Day" />-->

		<target name="perflog" xsi:type="File" fileName="logs/perf.log">
			<layout xsi:type="MessageLayout">${longdate} ${message}</layout>
			<encoding value="utf-8" />
			<archive FileName = "${basedir}/logs/archives/perf.${shortdate}.{#}.log"/>
			<maxArchiveFiles>30</maxArchiveFiles>
		</target>
	</targets>


	<rules>

		<logger name="*" minlevel="Debug" writeTo="f">
			<!--
			<filters>
				<when condition="length('${message}')>10" action="Ignore"></when>
			</filters>
			-->

		</logger>
		<logger name="*" minlevel="Info" writeTo="fi" />

		<logger name="perf" minLevel="Info" writeTo="perflog" />
	</rules>
</nlog>
