<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Aside" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<connectionStrings>
		<add name="MusicDb" connectionString="Data Source=localhost;Initial Catalog=musicdb;User ID=root;Password=1314;" />
	</connectionStrings>
	<appSettings>
		<add key="resxKey" value="zh-CN" />
		<add key="IsAutoTable" value="false" />
		<add key="IsAutoSeed" value="false" />
	</appSettings>
	<Aside>
		<add key="推荐" value="CommendView" />
		<add key="喜欢" value="FavoriteView" />
		<add key="下载" value="DownLoadView" />
	</Aside>
</configuration>